body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #DDE6ED;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h2 {
    font-size: 24px;
    color: #27374D;
}

.profile {
    /* text-align: center; */
    margin-bottom: 20px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    margin: 0;
    font-size: 18px;
}

.profile p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin-bottom: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.main-content {
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
}

.profile-completion {
    font-size: 14px;
    color: #ff5a5f;
}

.form-section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.form-actions .save-btn {
    padding: 10px 20px;
    background-color: #526D82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
