/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    
    margin-bottom: 40px;
    /* Center items horizontally in the grid */
/* }

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s;
    position: relative;
    width:300px; /* Each card occupies full width of its grid cell */
/* } */ 

/* .card:hover {
    transform: translateY(-10px);
}

.card i {
    font-size: 30px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}

.card .price {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    font-weight: bold;
    bottom: 0;
    width: 100%;
}

/* Price colors based on category */
/* .card.basic .price {
    background-color: #ffcc00;
    color: #fff;
}

.card.standard .price {
    background-color: #00cc99;
    color: #fff;
}

.card.premium .price {
    background-color: #3366cc;
    color: #fff;
}

.card.featured .price {
    background-color: #ff9900;
    color: #fff;
}

.card.affiliate .price {
    background-color: #66ccff;
    color: #fff;
}

.card.training .price {
    background-color: #ff6699;
    color: #fff;
}

.card.event .price {
    background-color: #9966ff;
    color: #fff;
} */ 

/* Icon colors based on category */
/* .card.basic i {
    color: #ffcc00;
}

.card.standard i {
    color: #00cc99;
}

.card.premium i {
    color: #3366cc;
}

.card.featured i {
    color: #ff9900;
}

.card.affiliate i {
    color: #66ccff;
}

.card.training i {
    color: #ff6699;
}

.card.event i {
    color: #9966ff;
} */
